/* line 48, icons/*.png */
.icons-sprite, .icons-dArw-Intl {
  background-image: url('../images/sprite-icons.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-dArw-Intl {
  background-position: 0 0;
  height: 6px;
  width: 9px;
}
